@import 'tailwindcss';

body {
  font-family: var(--font-pretendard), sans-serif;
}

@theme {
  --kakao-primary: #fee500;
  --kakao-text: #000;
  --naver-primary: #03c75a;
  --naver-text: #fff;
  --google-primary: #dfdfdf;

  --color-white-100: #fff;

  --color-black-100: #000;
  --color-black-200: #333;

  --color-gray-10: #f6f6f6;
  --color-gray-25: #f5f5f5;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e1e1e1;
  --color-gray-150: #e0e0e0;
  --color-gray-200: #dfdfdf;
  --color-gray-300: #d9d9d9;
  --color-gray-320: #ccc;
  --color-gray-350: #bfbfbf;
  --color-gray-700: #666;
  --color-gray-900: #2e2f2f;
  --color-gray-920: #2d2d2d;
  --color-gray-950: #0f0f0f;

  --color-red-500: #f2544b;
  --color-red-550: #e04439;
  --color-red-600: #d1362d;

  --color-rose-50: #fff1f0;
  --color-rose-100: #ffe5e3;

  --color-orange-400: #ff9819;

  --text-text-40: 40px;
  --text-text-32: 32px;
  --text-text-26: 26px;
  --text-text-22: 22px;
  --text-text-20: 20px;
  --text-text-11: 11px;
}

@layer components {
  .swiper-button-prev-custom {
    @apply text-white-100 absolute top-1/2 left-[-50px] z-10 -translate-y-1/2 cursor-pointer rounded-full bg-black/40 p-2 transition hover:bg-black/60;
  }

  .swiper-button-next-custom {
    @apply text-white-100 absolute top-1/2 right-[-50px] z-10 -translate-y-1/2 cursor-pointer rounded-full bg-black/40 p-2 transition hover:bg-black/60;
  }

  .swiper-button-prev-monthly {
    @apply text-white-100 absolute top-[230px] left-[-50px] z-10 -translate-y-1/2 cursor-pointer rounded-full bg-black/40 p-2 transition hover:bg-black/60;
  }

  .swiper-button-next-monthly {
    @apply text-white-100 absolute top-[230px] right-[-50px] z-10 -translate-y-1/2 cursor-pointer rounded-full bg-black/40 p-2 transition hover:bg-black/60;
  }

  .feedback-title {
    @apply text-[32px] font-bold text-[#333];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-bold-lg {
    @apply text-lg font-bold;
  }

  .circle-border {
    @apply rounded-[60px] border;
  }

  .text-bold-text-40 {
    @apply text-text-40 font-bold;
  }

  .text-bold-text-32 {
    @apply text-text-32 font-bold;
  }

  .text-light-text-22 {
    @apply text-text-22 font-light;
  }

  .text-bold-text-20 {
    @apply text-text-20 font-bold;
  }
}

@layer utilities {
  .review-modal-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
  }
}
